:root{
    --brand-colors-pink:  #F67ACB;
    --Gray-colors-50: #E6EBF2;
    --Gray-colors-100: #050110;
    --Gray-colors-200: #1C1D1F;
    --Gray-colors-300: #393C40;
    --Gray-colors-400: #5C6066;
    --Gray-colors-800:  #F7F8FA;
    --white-colors-text: rgba(255, 255, 255, 0.7);
    --white: #ffffff; 
   
}